<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/todo_style.css">
    <title>To-Do List</title>
</head>
<body>
    <div class="box" id="heading">
    <h1><%= currdate %></h1>
    </div>
    
    <div class="box">
        <%for (let i=0;i<newitems.length;i++) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= newitems[i] %></p>
            </div>
            <%}%>
    

    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="new item..">
        <button type="submit" name="button">+</button>

    </form>
    </div>
</body>
</html>